@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.subtitle {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.1875;
  text-transform: uppercase;
}

body {
  font-family: "RobotoCondensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--black);
  min-width: 320px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* Скрытие заголовка */
:root {
  --accent: #2B4074;
  --grey: #4A4A4A;
  --ligth-grey: #9B9B9B;
  --white: #FFFFFF;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid brown;
}
@media screen and (width > 640px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (width > 768px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (width > 1024px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (width > 1440px) {
  .container {
    max-width: 1320px;
  }
}

.header {
  background-color: var(--accent);
}
.header__inner {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 1px solid green;
}
@media screen and (width > 640px) {
  .header__inner {
    min-height: 100px;
  }
}

.logo__link {
  margin-left: 8px;
}
@media screen and (width > 640px) {
  .logo__link {
    margin-left: 14px;
  }
}
@media screen and (width > 768px) {
  .logo__link {
    margin-left: 0;
  }
}

.menu__button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 3px;
}
.menu__button::after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: var(--accent);
  border-radius: 1px;
  position: absolute;
  top: 15px;
  left: 14px;
  box-shadow: 0 4px 0 0 var(--accent), 0 8px 0 0 var(--accent);
}
@media screen and (width > 1440px) {
  .menu__button {
    margin-right: 90px;
  }
}/*# sourceMappingURL=style.css.map */