@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.subtitle {
  font-family: "RobotoCondensed";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1666666667;
}
.subtitle::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 8px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent);
}
@media screen and (width > 639px) {
  .subtitle {
    font-size: 48px;
    line-height: 1.1666666667;
  }
}
@media screen and (width > 1439px) {
  .subtitle::after {
    margin-left: 0;
  }
}
.subtitle--center::after {
  margin: 0 auto;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--ligth-grey);
  min-width: 320px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  line-height: 0;
}

picture {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* Скрытие заголовка */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --accent: #2B4074;
  --grey: #4A4A4A;
  --ligth-grey: #9B9B9B;
  --white: #FFFFFF;
  --green: #476E4D;
  --bg-color: #F9F6E5;
}

.news__item-link {
  font-family: "RobotoCondensed";
  font-weight: 700;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Bold..woff2") format("woff2"), url("../fonts/Dosis-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (width > 640px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (width > 768px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (width > 1024px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (width > 1440px) {
  .container {
    max-width: 1320px;
  }
}

.header {
  background-color: var(--accent);
}
.header__inner {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (width > 639px) {
  .header__inner {
    min-height: 100px;
  }
}

.logo__header {
  margin-left: 8px;
}
.logo__footer {
  margin-top: -30px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 55px;
  padding: 0 74px;
  background-color: var(--accent);
}
@media screen and (width > 639px) {
  .logo__header {
    margin-left: 14px;
  }
  .logo__footer {
    margin-bottom: 54px;
  }
}
@media screen and (width > 767px) {
  .logo__header {
    margin-left: 0;
  }
  .logo__footer {
    margin-bottom: 84px;
  }
}
@media screen and (width > 1023px) {
  .logo__footer {
    margin-bottom: 128px;
  }
}

.menu__button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 3px;
}
.menu__button::after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: var(--accent);
  border-radius: 1px;
  position: absolute;
  top: 15px;
  left: 14px;
  box-shadow: 0 4px 0 0 var(--accent), 0 8px 0 0 var(--accent);
}
@media screen and (width > 1439px) {
  .menu__button {
    margin-right: 90px;
  }
}

.hero {
  background-image: url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 193px;
}
.hero__slider {
  min-height: 193px;
  background: rgba(33, 33, 33, 0.5);
}
.hero__slider-item {
  color: var(--white);
  text-align: center;
}
.hero__slider-title {
  position: relative;
  max-width: 243px;
  margin: 0 auto;
  padding: 36px 0 28px;
  font-family: "RobotoCondensed";
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
}
.hero__slider-title::after {
  position: absolute;
  content: "";
  width: 62px;
  height: 8px;
  background-color: var(--grey);
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
}
.hero__slider-btn {
  display: none;
}
.hero__slider-text {
  display: none;
}
@media screen and (width > 639px) {
  .hero {
    min-height: 386px;
  }
  .hero__slider {
    min-height: 386px;
  }
  .hero__slider-title {
    max-width: 522px;
    margin-bottom: 30px;
    padding: 50px 0 15px;
    font-size: 60px;
  }
  .hero__slider .hero__slider-btn {
    display: block;
    margin: 0 auto 113px;
    padding: 16px 45px;
    background-color: var(--accent);
    border: none;
    border-radius: 3px;
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 1;
    color: var(--bg-color);
    text-transform: uppercase;
    transition-duration: 750ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero__slider .hero__slider-btn:hover, .hero__slider .hero__slider-btn:focus {
    color: var(--accent);
    background-color: var(--bg-color);
  }
}
@media screen and (width > 767px) {
  .hero__slider {
    min-height: 465px;
  }
  .hero__slider-title {
    margin-bottom: 0;
    padding: 87px 0 0;
  }
  .hero__slider-title::after {
    display: none;
  }
  .hero__slider-text {
    max-width: 587px;
    display: block;
    margin: 0 auto;
    padding: 25px 0 32px;
    font-family: "RobotoCondensed";
    font-size: 18px;
    line-height: 1.1111111111;
    color: var(--white);
  }
}
@media screen and (width > 1023px) {
  .hero__slider {
    min-height: 618px;
  }
  .hero__slider-title {
    max-width: 750px;
    padding: 101px 0 0;
    font-size: 84px;
    letter-spacing: 2px;
  }
}
@media screen and (width > 1439px) {
  .hero__slider {
    min-height: 668px;
  }
  .hero__slider-title {
    max-width: 865px;
    padding: 107px 0 0;
    font-size: 96px;
    letter-spacing: 2px;
  }
  .hero__slider-text {
    max-width: 886px;
    padding: 25px 0 32px;
    font-size: 24px;
    line-height: 1.0833333333;
  }
}

.slick-dots {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.slick-dots button {
  margin: 0 10px;
  padding: 0;
  font-size: 0;
  background-color: var(--accent);
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
}

.slick-active button {
  background-color: transparent;
  border: 1px solid var(--green);
}

@media screen and (width > 639px) {
  .slick-dots {
    bottom: 15px;
  }
  .slick-arrow {
    position: absolute;
    width: 56px;
    height: 56px;
    border: none;
    right: 0;
    z-index: 5;
  }
  .slick-prev {
    background-color: var(--accent);
    top: calc(50% - 56px);
  }
  .slick-next {
    background-color: var(--bg-color);
    bottom: calc(50% - 56px);
  }
}
@media screen and (width > 1023px) {
  .slick-dots {
    bottom: 38px;
  }
}
@media screen and (width > 1439px) {
  .slick-arrow {
    width: 70px;
    height: 70px;
  }
  .slick-prev {
    top: calc(50% - 70px);
  }
  .slick-next {
    bottom: calc(50% - 70px);
  }
}
.promo {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--accent);
  text-align: center;
  color: var(--white);
}
.promo__title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
}
.promo__text {
  margin-bottom: 40px;
  line-height: 1.125;
}
.promo__btn {
  padding: 16px 15px;
  background-color: var(--bg-color);
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: var(--accent);
  text-transform: uppercase;
  border: 1px solid transparent;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.promo__btn:hover, .promo__btn:focus {
  background-color: var(--accent);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}
@media screen and (width > 767px) {
  .promo {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .promo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .promo__inner {
    max-width: 427px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .promo__text {
    margin-bottom: 0;
  }
  .promo__btn {
    min-width: 200px;
    min-height: 50px;
  }
}
@media screen and (width > 1023px) {
  .promo__inner {
    max-width: 695px;
  }
}
@media screen and (width > 1439px) {
  .promo__inner {
    max-width: 557px;
  }
}

.services {
  padding-top: 25px;
  padding-bottom: 40px;
  text-align: center;
}
.services__content {
  padding-bottom: 40px;
}
.services__conten-title {
  margin-bottom: 47px;
  position: relative;
  padding-bottom: 28px;
  color: var(--accent);
}
.services__conten-descr {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.2;
  color: var(--grey);
}
.services__conten-text {
  font-size: 15px;
  line-height: 1.1333333333;
  color: var(--ligth-grey);
}
.services__item {
  padding: 0 13px;
  min-height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--bg-color);
  border-bottom: none;
}
@media screen and (max-width: 639px) {
  .services__item:last-child {
    border-bottom: 1px solid var(--bg-color);
  }
}
.services__item:hover .services__text,
.services__item:hover .services__link {
  opacity: 1;
  height: auto;
  overflow: visible;
}
.services__item:hover .services__title {
  margin-bottom: 30px;
}
.services__item:hover .services__item-border {
  padding: 38px 25px 5px;
  border: 4px solid var(--accent);
  min-height: 277px;
  transition: border 0.5s;
}
.services__item:hover .services__img {
  margin-bottom: 14px;
}
.services__img {
  width: 64px;
  height: 64px;
  margin: 0 auto 30px;
}
.services__title {
  margin-bottom: 21px;
  font-family: "RobotoCondensed";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 2px;
  color: var(--grey);
}
.services__text, .services__link {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.services__text {
  margin-bottom: 17px;
  line-height: 1.125;
}
.services__link {
  font-family: "RobotoCondensed";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 2px;
  color: var(--accent);
  text-transform: uppercase;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.services__link:hover {
  color: var(--green);
}
@media screen and (width > 639px) {
  .services {
    padding-bottom: 0px;
  }
  .services__conten-descr {
    font-size: 24px;
  }
  .services__conten-text {
    font-size: 18px;
    line-height: 1.3333333333;
  }
  .services__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
  }
  .services__item {
    flex-basis: 50%;
  }
}
@media screen and (width > 767px) {
  .services {
    padding-top: 50px;
  }
  .services__conten-title {
    margin-bottom: 30px;
  }
  .services__text {
    margin-bottom: 27px;
  }
  .services__list {
    margin: 0 -40px;
  }
  .services__item {
    min-height: 337px;
    padding: 0 26px;
  }
  .services__item:hover .services__item-border {
    padding: 35px 37px 5px;
    min-height: 288px;
  }
}
@media screen and (width > 1023px) {
  .services {
    padding-top: 52px;
  }
  .services__title {
    margin-bottom: 60px;
  }
  .services__conten-descr {
    padding-bottom: 46px;
    margin-bottom: 40px;
  }
  .services__conten-text {
    margin: 0 auto 32px;
    max-width: 608px;
  }
  .services__item {
    flex-basis: 25%;
    padding: 0 17px;
    min-height: 277px;
  }
  .services__item:hover {
    padding: 0 17px;
  }
  .services__item:hover .services__item-border {
    padding: 14px 13px 5px;
    min-height: 254px;
  }
}
@media screen and (width > 1439px) {
  .services {
    padding-top: 0;
  }
  .services__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 -100px 0 -50px;
  }
  .services__content {
    text-align: left;
    max-width: 350px;
    margin-right: 100px;
  }
  .services__conten-title {
    margin-top: 90px;
  }
  .services__conten-descr {
    padding-bottom: 0;
    margin-bottom: 35px;
  }
  .services__conten-text {
    margin: 0;
  }
  .services__list {
    margin: 0;
  }
  .services__item {
    width: 230px;
    padding: 0 5px;
    height: 273px;
  }
  .services__item:hover {
    padding: 0 5px;
  }
  .services__item:hover .services__item-border {
    min-height: 255px;
    margin: 5px 0;
    padding: 10px 3px 5px;
  }
}

.projects {
  padding: 20px 0 20px;
  background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
  text-align: center;
}
.projects__title {
  position: relative;
  color: var(--white);
  padding-bottom: 28px;
  margin-bottom: 40px;
}
.projects__title::after {
  background-color: var(--white);
}
.projects__item-img {
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: 0px 4px 4px rgba(71, 110, 77, 0.351506);
  width: 280px;
  min-height: 250px;
  margin: 0 auto 20px;
  padding: 12px 14px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.projects__item-img:hover .projects__item-inner {
  opacity: 1;
}
.projects__item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
  min-height: 227px;
  background-color: rgba(249, 246, 229, 0.83);
  border-radius: 4px;
  opacity: 0;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item-info:hover .projects__item-svg, .projects__item-search:hover .projects__item-svg {
  scale: 1.5;
}
.projects__item-svg {
  width: 30px;
  height: 30px;
  fill: var(--accent);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item-link {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
  font-family: "RobotoCondensed";
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: 2px;
  color: var(--accent);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item-link:hover {
  color: var(--white);
  background-color: var(--accent);
  border-radius: 5px;
}
@media screen and (width > 639px) {
  .projects {
    padding: 40px 0 20px;
  }
  .projects__item-img {
    width: 510px;
    min-height: 460px;
    padding: 21px 24px;
  }
  .projects__item-inner {
    gap: 0 30px;
    min-height: 418px;
  }
  .projects__item-svg {
    width: 54px;
    height: 54px;
  }
  .projects__item-link {
    width: 450px;
    font-size: 20px;
    line-height: 1.15;
  }
}
@media screen and (width > 767px) {
  .projects {
    padding: 80px 0 60px;
  }
  .projects__title {
    margin-bottom: 80px;
  }
  .projects__items {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
  }
  .projects__item {
    width: 317px;
  }
  .projects__item-img {
    width: 317px;
    min-height: 283px;
    padding: 12px 14px;
  }
  .projects__item-inner {
    gap: 0 15px;
    min-height: 256px;
  }
  .projects__item-svg {
    width: 33px;
    height: 33px;
  }
  .projects__item-link {
    width: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .projects__items {
    justify-content: center;
  }
  .projects__item-inner {
    gap: 0 15px;
  }
}
@media screen and (min-width: 1440px) {
  .projects__items {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0 21px;
  }
}

.team {
  padding: 20px 0 40px;
  text-align: center;
}
.team__img {
  margin-bottom: 40px;
  border-radius: 4px;
}
.team__title {
  position: relative;
  color: var(--grey);
  padding-bottom: 28px;
  margin-bottom: 23px;
}
.team__text {
  margin-bottom: 90px;
  padding: 0 20px;
  line-height: 1.125;
}
.team__btm {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  padding: 21px 26px;
  background-color: var(--accent);
  border: 1px solid transparent;
  border-radius: 3px;
  color: var(--bg-color);
  text-transform: uppercase;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__btm:hover, .team__btm:focus {
  color: var(--accent);
  background-color: var(--bg-color);
  border-color: var(--accent);
}
@media screen and (width > 639px) {
  .team {
    padding: 46px 0 53px;
  }
  .team__title {
    margin-bottom: 40px;
  }
  .team__text {
    margin-bottom: 56px;
    padding: 0 24px;
  }
}
@media screen and (width > 767px) {
  .team {
    padding: 40px 0 48px;
    text-align: left;
  }
  .team__inner {
    display: flex;
    gap: 34px;
  }
  .team__img {
    width: 240px;
    height: 100%;
    margin: 0;
  }
  .team__title {
    margin-bottom: 7px;
  }
  .team__title::after {
    margin: 0;
  }
  .team__text {
    margin-bottom: 21px;
    padding: 0;
    font-size: 18px;
    line-height: 1;
  }
}
@media screen and (width > 1023px) {
  .team {
    padding: 80px 0;
  }
  .team__inner {
    gap: 60px;
  }
  .team__img {
    width: 395px;
  }
  .team__text {
    line-height: 1.3333333333;
  }
}
@media screen and (width > 1439px) {
  .team {
    padding: 50px 0 110px;
  }
  .team__inner {
    gap: 100px;
  }
  .team__img {
    width: 460px;
  }
  .team__title {
    margin-bottom: 42px;
  }
  .team__text {
    margin-bottom: 60px;
    width: 553px;
  }
}

.news {
  padding: 40px 0 40px;
  background-color: var(--bg-color);
  color: var(--grey);
}
.news__title {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 28px;
}
.news__item {
  max-width: 270px;
  margin: 0 auto 20px;
  border-radius: 4px;
  overflow: hidden;
  border: 10px solid transparent;
}
.news__item:hover {
  background: rgba(43, 64, 116, 0.3);
  border: 10px solid #2B4074;
  border-radius: 4px;
}
.news__item-img {
  border-radius: 4px;
}
.news__item-link {
  display: block;
  height: 40px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 1.1666666667;
  letter-spacing: 2px;
  background-color: var(--white);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.news__item-link:hover {
  color: var(--bg-color);
  background: #2B4074;
}
@media screen and (width > 639px) {
  .news__title {
    margin-bottom: 60px;
  }
  .news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .news__item {
    margin: 0;
  }
}
@media screen and (width > 1439px) {
  .news__title {
    margin-bottom: 60px;
  }
  .news__title .subtitle::affter {
    margin: 0 auto;
  }
  .news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .news__item {
    margin: 0;
  }
}

.testimonial {
  padding: 60px 0 40px;
  font-family: "RobotoCondensed";
  text-align: center;
}
.testimonial__blockquote {
  position: relative;
  padding-top: 100px;
}
.testimonial__blockquote::before {
  position: absolute;
  content: url(../images/icons/pngwing.com.png);
  font-size: 34px;
  line-height: 14px;
  top: 0;
  right: 0;
  left: 0;
  color: var(--accent);
}
.testimonial__blockquote p {
  padding: 0 8px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.0833333333;
  color: var(--grey);
}
.testimonial__blockquote p span {
  font-weight: 700;
  color: var(--accent);
}
.testimonial__blockquote-name {
  display: block;
  padding-top: 20px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 2px;
  color: var(--grey);
}
@media screen and (width > 639px) {
  .testimonial__blockquote {
    position: relative;
    padding-top: 40px;
  }
  .testimonial__blockquote p {
    padding: 0 18px;
    font-size: 32px;
    line-height: 1.0625;
  }
  .testimonial__blockquote-name {
    margin-top: 40px;
  }
}
@media screen and (width > 1023px) {
  .testimonial {
    padding: 100px 0 80px;
  }
  .testimonial__blockquote {
    padding-top: 44px;
  }
  .testimonial__blockquote p {
    padding: 0 18px;
    font-size: 32px;
    line-height: 1.1875;
  }
  .testimonial__blockquote-name {
    margin-top: 45px;
    margin-bottom: 80px;
    line-height: 1.4;
  }
}
@media screen and (width > 1439px) {
  .testimonial__blockquote p {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.footer {
  position: relative;
  padding-top: 45px;
  text-align: center;
  color: var(--white);
}
.footer::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  background-color: #2B4074;
  width: 100%;
  height: 954px;
  z-index: -1;
}
.footer p {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 2px;
}
.footer__title {
  font-family: "RobotoCondensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.footer__contacts {
  margin-bottom: 41px;
}
.footer__contack-link {
  display: block;
  line-height: 1.25;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contack-link:hover {
  color: var(--green);
}
.footer__address {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 36px;
}
.footer__help {
  margin-bottom: 54px;
}
.footer__help-link {
  line-height: 20px;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__help-link:hover {
  color: var(--green);
}
.footer__menu-link {
  line-height: 20px;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__menu-link:hover {
  color: var(--green);
}
@media screen and (width > 639px) {
  .footer::after {
    height: 632px;
  }
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  .footer p {
    font-size: 24px;
    line-height: 26px;
  }
  .footer__title {
    margin-top: 0;
    margin-bottom: 22px;
  }
  .footer__contacts {
    margin-right: 222px;
    margin-bottom: 28px;
  }
  .footer__help {
    margin-right: 180px;
    margin-bottom: 0;
  }
}
@media screen and (width > 767px) {
  .footer__inner {
    max-width: 813px;
  }
  .footer p {
    font-size: 36px;
    line-height: 32px;
  }
}
@media screen and (width > 1023px) {
  .footer__inner {
    max-width: 939px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .footer p {
    font-size: 36px;
    line-height: 32px;
  }
  .footer__contacts, .footer__address, .footer__help, .footer__menu {
    margin: 0;
  }
}
@media screen and (width > 1439px) {
  .footer__inner {
    max-width: 1096px;
  }
  .footer p {
    font-size: 36px;
    line-height: 32px;
  }
  .footer__contacts, .footer__address, .footer__help, .footer__menu {
    margin: 0;
  }
}

.social {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
@media screen and (width < 639px) {
  .social {
    gap: 16px;
  }
}
.social__link:hover .social__link-svg {
  fill: var(--green);
}
.social__link-svg {
  fill: var(--white);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (width > 639px) {
  .social {
    flex-flow: row;
    border-top: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
  }
  .social__item:not(:last-child) {
    border-right: 1px solid var(--green);
  }
  .social__link {
    padding: 18px 52px;
  }
}
@media screen and (width > 767px) {
  .social {
    margin-bottom: 69px;
  }
  .social__link {
    padding: 23px 65px;
  }
}
@media screen and (width > 1023px) {
  .social {
    margin-top: 80px;
    margin-bottom: 57px;
  }
  .social__link {
    padding: 20px 105px;
  }
}
@media screen and (width > 1439px) {
  .social {
    margin-bottom: 80px;
  }
  .social__link {
    padding: 29px 130px;
  }
}/*# sourceMappingURL=style.css.map */