:root {
    --accent: #2B4074;
    --grey: #4A4A4A;
    --ligth-grey: #9B9B9B;
    --white: #FFFFFF;
    --green: #476E4D;
    --bg-color: #F9F6E5;
}

%dosis-300 {
    font-family: 'Dosis';
    font-weight: 300;
}

@mixin transition ($transition-property: color, $transition-duration: 750ms, $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)) {
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
}

%roboto-500{
    font-family: 'Roboto';
    font-weight: 500;
}
// @include transition ($transition-property: (color, background-color));
// @media screen and (width > 640px) {}