.footer {
  position: relative;
  padding-top: calc(15px + 60px / 2);
  padding-bottom: 65px;
  text-align: center;
  color: var(--white);

  &::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #2B4074;
    width: 100%;
    min-height: 954px;
    z-index: -1;
  }

  & p {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 2px;
  }

  &__title {
    font-family: 'RobotoCondensed';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__contacts {
    margin-bottom: 41px;
  }

  &__contack-link {
    display: block;
    line-height: calc(20/16);
    @include transition ($transition-property: color);

    &:hover {
      color: var(--green);
    }
  }

  &__address {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 36px;
  }

  &__help {
    margin-bottom: 54px;
  }

  &__help-link {
    line-height: 20px;
    @include transition ($transition-property: color);

    &:hover {
      color: var(--green);
    }
  }

  &__menu-link {
    line-height: 20px;
    @include transition ($transition-property: color);

    &:hover {
      color: var(--green);
    }
  }

  @media screen and (width > 639px) {
    &::after {
      height: 632px;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
    }

    & p {
      font-size: 24px;
      line-height: 26px;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 22px;
    }

    &__contacts {
      margin-right: 222px;
      margin-bottom: 28px;
    }

    &__help {
      margin-right: 180px;
      margin-bottom: 0;
    }
  }

  @media screen and (width > 767px) {

    &__inner {
      max-width: 813px;
    }

    & p {
      font-size: 36px;
      line-height: 32px;
    }
  }

  @media screen and (width > 1023px) {

    &__inner {
      max-width: 939px;
      flex-wrap: nowrap;
      justify-content: space-between;

    }

    & p {
      font-size: 36px;
      line-height: 32px;
    }

    &__contacts,
    &__address,
    &__help,
    &__menu {
      margin: 0;
    }
  }

  @media screen and (width > 1439px) {

    &__inner {
      max-width: 1096px;
    }

    & p {
      font-size: 36px;
      line-height: 32px;
    }

    &__contacts,
    &__address,
    &__help,
    &__menu {
      margin: 0;
    }
  }

}