.header {
  background-color: var(--accent);

  &__inner {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (width > 640px) {
    &__inner {
      min-height: 100px;
    }
  }
}