.services {
  padding-top: 25px;
  padding-bottom: 40px;
  text-align: center;

  &__content {
    padding-bottom: 40px;
  }

  &__conten-title {
    margin-bottom: 47px;
    position: relative;
    padding-bottom: calc(20px + 8px);
    color: var(--accent);
  }

  &__conten-descr {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: calc(24/20);
    color: var(--grey);
  }

  &__conten-text {
    font-size: 15px;
    line-height: calc(17/15);
    color: var(--ligth-grey);
  }

  // li
  &__item {
    padding: 0 13px;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--bg-color);
    border-bottom: none;

    @media screen and (max-width: 639px) {
      &:last-child {
        border-bottom: 1px solid var(--bg-color);
      }
    }

    &:hover {
      .services__text,
      .services__link {
        opacity: 1;
        height: auto;
        overflow: visible;
      }

      .services__title {
        margin-bottom: 30px;
      }

      .services__item-border {
        padding: 38px 25px 5px;
        border: 4px solid var(--accent);
        min-height: 277px;
        transition: border .5s;
      }

      .services__img {
        margin-bottom: 14px;
      }
    }
  }

  &__img {
    width: 64px;
    height: 64px;
    margin: 0 auto 30px;
  }

  &__title {
    margin-bottom: 21px;
    font-family: 'RobotoCondensed';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 2px;
    color: var(--grey);
  }

  &__text,
  &__link {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all .5s;
  }

  &__text {
    // font-family: 'Dosis';
    margin-bottom: 17px;
    line-height: calc(18/16);
  }

  &__link {
    font-family: 'RobotoCondensed';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 2px;
    color: var(--accent);
    text-transform: uppercase;
    @include transition ($transition-property: color);

    &:hover {
      color: var(--green);
    }
  }

  @media screen and (width > 639px) {
    padding-bottom: 0px;
    &__conten-descr {
      font-size: 24px;
    }

    &__conten-text {
      font-size: 18px;
      line-height: calc(24/18);
    }

    // li
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -30px;
    }

    &__item {
      flex-basis: 50%;
    }
  }

  @media screen and (width > 767px) {
    padding-top: 50px;

    &__conten-title {
      margin-bottom: 30px;
    }

    &__text {
      margin-bottom: 27px;
    }

    &__list {
      margin: 0 -40px;
    }

    &__item {
      min-height: 337px;
      padding: 0 26px;

      &:hover {
        .services__item-border {
          padding: 35px 37px 5px;
          min-height: 288px;
        }
      }
    }
  }

  @media screen and (width > 1023px) {
    padding-top: 52px;

    &__title {
      margin-bottom: 60px;
    }

    &__conten-descr {
      padding-bottom: 46px;
      margin-bottom: 40px;
    }
    &__conten-text {
      margin: 0 auto 32px;
      max-width: 608px;
    }

    &__item {
      // max-width: 254px;
      flex-basis: 25%;
      padding: 0 17px;
      min-height: 277px;
      &:hover {
        padding: 0 17px;
        .services__item-border {
          padding: 14px 13px 5px;
          min-height: 254px;
        }
      }
    }
  }

  @media screen and (width > 1439px) {
    
    padding-top: 0;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0 -100px 0 -50px;
    }
    &__content {
      text-align: left;
      // min-width: 350px;
      max-width: 350px;
      margin-right: 100px;
      // padding: 0;
    }

    &__conten-title {
      margin-top: 90px;
    }

    &__conten-descr {
      padding-bottom: 0;
      margin-bottom: 35px;
    }
    &__conten-text {
      margin: 0;
    }

    &__list {
      margin: 0;
    }

    &__item {
      width: 230px;
      padding: 0 5px;
      height: 273px;
      &:hover {
        padding: 0 5px;
        .services__item-border {
          min-height: 255px;
          margin: 5px 0;
          padding: 10px  3px 5px;
        }
      }
    }
  }
}