.services {
  padding-top: 25px;
  padding-bottom: 40px;
  text-align: center;

  &__content {
    padding-bottom: 40px;
  }

  &__conten-title {
    margin-bottom: 47px;
    position: relative;
    padding-bottom: calc(20px + 8px);
    color: var(--accent);
  }

  &__conten-descr {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: calc(24/20);
    color: var(--grey);
  }

  &__conten-text {
    font-size: 15px;
    line-height: calc(17/15);
    color: var(--ligth-grey);
  }

  // li
  &__item {
    padding: 0 18px;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--bg-color);
    border-bottom: none;

    @media screen and (max-width: 640px) {
      &:last-child {
        border-bottom: 1px solid var(--bg-color);
      }
    }

    &:hover {

      .services__text,
      .services__link {
        display: block;
      }

      .services__title {
        margin-bottom: 30px;
      }

      .services__item-border {
        margin: 18px 0;
        padding: 25px 20px 5px;
        border: 4px solid var(--accent);
        min-height: 277px;
        @include transition ($transition-property: border);
      }

      .services__img {
        margin-bottom: 14px;
      }
    }
  }

  &__img {
    width: 64px;
    height: 64px;
    margin: 0 auto 30px;
  }

  &__title {
    margin-bottom: 21px;
    font-family: 'RobotoCondensed';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 2px;
    color: var(--grey);
  }

  &__text {
    display: none;
    // font-family: 'Dosis';
    margin-bottom: 17px;
    line-height: calc(18/16);
    // @include transition ($transition-property: display);
  }

  &__link {
    display: none;
    font-family: 'RobotoCondensed';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 2px;
    color: var(--accent);
    text-transform: uppercase;
    @include transition ($transition-property: (color, display));

    &:hover {
      color: var(--green);
    }
  }

  @media screen and (width > 640px) {
    &__conten-descr {
      font-size: 24px;
    }

    &__conten-text {
      font-size: 18px;
      line-height: calc(24/18);
    }
    // li
    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      flex-basis: 50%;
    }
  }
  @media screen and (width > 768px) {
    padding-top: 50px;
    &__conten-title {
      margin-bottom: 30px;
    }
    &__text {
      margin-bottom: 27px;
    }
    &__list {
      margin: 0 -40px;
    }
    &__item {
      min-height: 334px;
      padding: 0 66px;
      &:hover{
        .services__item-border {
          margin: 18px 0;
          padding: 35px 34px 5px;
          min-height: 288px;

        }
      }
    }
  }
  
  // @media screen and (width > 1024px) {
  //   &__item {
  //     flex-basis: 25%;
  //   }
  // }
}